body {
    margin: 0px;
    font-family: 'Hind Siliguri', sans-serif;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red, silver);
    padding: 10px 20px;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 10px;

}

p {
    text-align: justify;
}

.headings {
    display: flex;
    background-image: url(images/mybg-1.png);
    background-repeat: no-repeat;
    padding-bottom: 5%;
    

}

.half-width {
    width: 50%;
    padding-left: 5%;
    margin-top: 2%;

}

.half-width img {
    width: 90%;
    padding-left: 8%;
}

.m1 {
    color: green;
}

.m2 {
    color: red;
}

.dream {
    width: 50%;
    padding-left: 1%;
    padding-right: 5%;
    margin-top: 1%;

}

.dream img {
    width: 90%;
    padding-left: 2%;

}

.d1 {
    color:palevioletred;
}
.dream-link { 
    text-decoration: none;
    background-image: linear-gradient(pink, rgb(241, 106, 129));
    padding: 10px 20px;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 10px;


}
.big-dream {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 5%;

}

.memory {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.memory-part {
    width: 40%;
    box-shadow: 15px 15px 30px rgb(151, 147, 147);
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    color: orangered;
    border-left: 4px solid orange;
    margin-bottom: 10%;

}

.hcolor {
    color:blueviolet
}

.hshape {
    color:green;
    margin-left: 5%;

}
footer p {
    text-align: center;
}